<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.UserDao">
	<select id="dupcheck" parameterType="String" resultType="int">
		select count(*) from userinfo where userid=#{userid}
	</select>
	<insert id="join" parameterType="UserDto">
		insert into userinfo (userid,username,userpass,useremail,userphone,userpost,useraddress1,useraddress2,sms,userip) 
		value(#{userid},#{username},#{userpass},#{useremail},#{userphone},#{userpost},#{useraddress1},#{useraddress2},#{sms},#{userip})
	</insert>	
	<select id="findId" parameterType="UserDto" resultType="UserDto">
		select userid from userinfo where useremail=#{useremail} and userphone=#{userphone}
	</select>
	<select id="findPass" parameterType="UserDto" resultType="int">
		select count(*) from userinfo where userid=#{userid} and useremail=#{useremail} and userphone=#{userphone}
	</select>
	<update id="changePass">
		update userinfo set userpass=#{userpass} where userid=#{userid}
	</update>
	<select id="login" parameterType="UserDto" resultType="int">
		select count(*) from userinfo where userid=#{userid} and userpass=#{userpass}
	</select>	
	<select id="findUserNo" parameterType="UserDto" resultType="int">
		select userno from userinfo where userid=#{userid} and userpass=#{userpass}
	</select>
	<select id="findUser" parameterType="UserDto" resultType="UserDto">
		select * from userinfo where userno=#{userno}
	</select>			
	<update id="changeUser"  parameterType="UserDto">
		update userinfo set useremail=#{useremail},userphone=#{userphone},userpost=#{userpost},
		useraddress1=#{useraddress1},useraddress2=#{useraddress2},sms=#{sms} where userno=#{userno}
	</update>
	<select id="check_pass_ajax" parameterType="UserDto" resultType="int">
		select count(*) from userinfo where userpass=#{userpass} and userno=#{userno}
	</select>
	<delete id="deleteUser" parameterType="int">
		delete from userinfo where userno=#{userno}
	</delete>
	<select id="listtotal"  resultType="int">
		select count(*) from userinfo 
		<where>
			<if test="username!=null">username=#{username}</if>
		</where>
	</select>
	<select id="listCnt" resultType="UserDto" parameterType="java.util.HashMap">
		select * from userinfo
		<where>
			<if test="username!=null">username=#{username}</if>
		</where>
		 order by userno desc limit #{pstartno}, #{onepagelimit}
	</select>
	
</mapper>